@model Apphr.Application.Controladores.DTOs.ControladorDTOView
<div class="row">
    <div class="col-md-12">@Html.DisplayFor(model => model.Detalle, "StringD")</div>
    <div class="col-md-12">@Html.DisplayFor(model => model.Area, "StringD")</div>
    <div class="col-md-12">@Html.DisplayFor(model => model.Controller, "StringD")</div>
</div>