@model Apphr.Application.Bodegas.DTOs.BodegaDTOViewDBF
<div class="row">
    @Html.DisplayFor(x => x.CODIGO, "StringD")
    @Html.DisplayFor(x => x.DESCRI, "StringD")
    @Html.DisplayFor(x => x.PROCED, "StringD")
    @Html.DisplayFor(x => x.BODMAT, "StringD")
</div>