@model decimal?    

<div class="form-group mb-2">
    @Html.LabelFor(x => x, htmlAttributes: new { @class = "form-label" + (ViewData["classLabel"] != null ? " " + ViewData["classLabel"] : ""), style = "font-weight:bold;" })
    <div class="col">
        @Html.TextBoxFor(x => x, new { @class = "form-control" + (ViewData["class"] != null ? " " + ViewData["class"] : "") })
        @Html.ValidationMessageFor(x => x, "", new { @class = "text-danger" })
    </div>
</div>