@model List<Apphr.Application.ControlAbastecimiento.DTOs.ControlAbastecimientoDTOListaIngresos>

    <table class="table table-sm table-striped table-hover nowrap table-bordered" width="100%">
        <thead>
            <tr>
                <th class="text-center">Acción</th>
                <th class="text-center text-wrap">Fecha Ingreso</th>
                <th class="text-end text-wrap">Cantidad Ingreso</th>
            </tr>
        </thead>
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <tr>
                    <!-- Acciones -->
                    <td class="text-center">
                        <a class="btn btn-sm btn-danger" data-id="@item.IngresoAbastecimientoId" onclick="delIngreso(this);"><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                    <!-- Acciones -->
                    <td class="text-center">@item.Fecha.ToString("d")</td>
                    <td class="text-end">@string.Format("{0:N2}", item.Cantidad)</td>                   
                </tr>
            }
        }
        else
        {
            <!--Sin registros-->
            <tr>
                <td class="text-center" colspan="3">@Apphr.Resources.Strings.NoRegister</td>
            </tr>
            <!--Sin registros-->
        }
    </table>
