@model Apphr.Application.Personas.DTOs.PersonaDTOCreateUser

@using (Ajax.BeginForm("AsignarUsuario", "People", new AjaxOptions
{
    HttpMethod = "POST",
    OnBegin = "modal3.begin",
    OnSuccess = "modal3.success",
    OnFailure = "modal3.failure"
}, new { id = "modal3-form" })) // new { enctype = "multipart/form-data" }
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(x => x.PersonaId)
    
<div class="row">
    <div class="col-12">@Html.EditorFor(x => x.Email)</div>
    <hr class="mb-3 mt-3" />
    <div class="col-12"><button id="modal3-btn-save" type="submit" class="btn btn-warning float-end">Asignar</button></div>
</div>
    
}