<div class="row mb-2">
    <div class="col text-end">
        <button id="icon-view" type="button" class="btn btn-info btn-micro btn-round"><span class="fa fa-xs fa-eye"></span></button>
        <button id="icon-create" type="button" class="btn btn-success btn-micro btn-round"><span class="fa fa-xs fa-plus"></span></button>
        <button id="icon-edit" type="button" class="btn btn-primary btn-micro btn-round"><span class="fa fa-xs fa-edit"></span></button>
        <button id="icon-delete" type="button" class="btn btn-danger btn-micro btn-round"><span class="fa fa-xs fa-trash"></span></button>
    </div>
</div>