@model Apphr.Application.AppAreas.DTOs.RootDTODashboard
@{
    ViewBag.Title = "Inicio Ortopedia";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<style>
    /*.btn-sq-lg {
        width: 150px !important;
        height: 150px !important;
    }*/
</style>
<div class="container-lg pt-3">
    <div class="container-fluid">
        <h4>Módulos</h4>
        <div class="row">           
            @*<div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="card" style="background-color: #209cd8;">
                    <div class="card-body">
                        <a class="text-white" href="@Url.Action("Index","Home", new { Area = "Admision" })" style="text-decoration:none">
                            <div class="row">
                                <div class="col-12 text-center"><i class="fas fa-hospital-user fa-5x"></i></div>
                                <div class="col-12 text-center mt-2"><strong>Admisión</strong></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>*@
            
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="card" style="background-color: #50bab2;">
                    <div class="card-body">
                        <a class="text-white" href="@Url.Action("Index","Home", new { Area = "Inventario" })" style="text-decoration:none">
                            <div class="row">
                                <div class="col-12 text-center"><i class="fas fa-boxes fa-5x"></i></div>
                                <div class="col-12 text-center mt-2"><strong>Inventarios</strong></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>