@model Apphr.Application.AppAreas.DTOs.RootDTODashboard
@{
    ViewBag.Title = "Inicio Admisión";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}
<style>
    /*.btn-sq-lg {
        width: 150px !important;
        height: 150px !important;
    }*/
</style>
<div class="container-lg pt-3">
    <div class="container-fluid">
        <h4>Módulos</h4>
        <div class="row">
            @*<div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-row">
                            <div>
                                <img src="https://tickets.hospitalroosevelt.gob.gt/storage/configuration/avatar.jpg" alt="user" class="rounded-circle" style="width:30px; height:30px">
                            </div>
                            <div class="p-l-10">
                                <h3>Juan Francisco Flores Yaz</h3>
                                <h6>
                                    <a href="mailto:me@juanfrancisco.io" class="text-body">me@juanfrancisco.io</a>
                                </h6>
                            </div>
                        </div>
                        <div class="row m-t-0 counts">
                            <div data-id="1" class="col b-r text-center start">
                                <h2 class="font-light">0</h2>
                                <h6>Pendientes</h6>
                            </div>
                            <div data-id="1" class="col b-r text-center finish">
                                <h2 class="font-light">1</h2>
                                <h6>Finalizados</h6>
                            </div>
                            <div data-id="1" class="col text-center all">
                                <h2 class="font-light">1</h2>
                                <h6>Total</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="card" style="background-color: #209cd8;">
                    <div class="card-body">
                        <a class="text-white" href="@Url.Action("Index","Home", new { Area = "Admision" })" style="text-decoration:none">
                            <div class="row">
                                <div class="col-12 text-center"><i class="fas fa-hospital-user fa-5x"></i></div>
                                <div class="col-12 text-center mt-2"><strong>Admisión</strong></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-sm-6 mb-3">
                <div class="card" style="background-color: #50bab2;">
                    <div class="card-body">
                        <a class="text-white" href="@Url.Action("Index","Home", new { Area = "Inventario" })" style="text-decoration:none">
                            <div class="row">
                                <div class="col-12 text-center"><i class="fas fa-boxes fa-5x"></i></div>
                                <div class="col-12 text-center mt-2"><strong>Inventarios</strong></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>