<div class="alert alert-danger" role="alert">
    <i class="fas fa-times-circle"></i>&nbsp;<strong>Error</strong> Se ha quitado el recurso que está buscando, se le ha cambiado el nombre o no está disponible en estos momentos.
</div>